###### Dependencies from local projects ######
###### 2 lines for each dependency ######

-r ${XPL_CODE_DIR}/xpl/infrastructure/config/requirements.txt
-e ${XPL_CODE_DIR}/xpl/infrastructure/config/

-r ${XPL_CODE_DIR}/xpl/dataset/requirements.txt
-e ${XPL_CODE_DIR}/xpl/dataset/

###### Install dependencies for this project from setup.py install_requires ######
-e ${XPL_CODE_DIR}/xpl/train
